body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.container {
  color: #333; /* Darker, more comfortable text color */
  padding: 45px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 150px;  
  margin-top: 30px;
  background-color: rgb(249, 249, 242);
}

h1{
  color: rgb(52, 15, 153);
  text-align: center;
}

img{
  border-radius: 10px;
  display: block;
  margin: auto;
}
