<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>
    <h1>Darien McIntosh</h1>
    <p>My name is Darien McIntosh, a creative and driven third-year Information Technology student 
       with a passion for user-centered design. I'm eager to pursue a career as a UI/UX Designer, 
       where I can combine my technical skills with my creative vision to create intuitive and engaging 
       digital experiences. I'm constantly seeking opportunities to learn and grow in this field, and I'm excited 
       to see where my journey takes me.
    </p>
</body>
</html>
